
GameCore/CvGameCoreDLL/build
!GameCore/CvGameCoreDLL/build/.lock

GameCore/CvGameCoreDLL/x64/Debug
!GameCore/CvGameCoreDLL/x64/Debug/.lock

GameCore/CvGameCoreDLL/x64/Release
!GameCore/CvGameCoreDLL/x64/Release/.lock

